.return{
    text-align: right;
    float:right;
}
.return>a{
    text-decoration: none;
}
.return>a:hover{
    cursor:pointer;
}

.return>a>h2{
    margin-bottom: 0px;
    margin-top: 25px;
}

.return>a>h2:hover{
    color:grey;
}

.number-result{
    font-size: 30px;
}

.firstYear{
    font-size: 10px;
}

/* COLOR OF NUMBER */
.red{
    color:red;
}

.green{
    color:green;
}

/* TABLE */
table.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.blueTable tbody td {
    font-size: 13px;
  }
  table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.blueTable thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
  }
  table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }
  table.blueTable thead th:first-child {
    border-left: none;
  }

.tableauRecapitulatif table {
width: 100%;
table-layout: fixed;

}

.tableauRecapitulatif th,
.tableauRecapitulatif td {
width: 100%;
overflow: hidden;
}

.details{
    color:#000066;
}
  